<h1>Lista de Categorias: </h1>
<hr>
<a href="/admin/categorias/add"><button class="btn btn-success">Nova categorias</button></a>

<hr>
{{#each categorias}}
  <div class="card mt-4">
    <div class="card-body">
      <h4>{{this.nome}}</h4>
      <small>Slug: {{this.slug}}</small>
      <small>Data de criação: {{this.date}}</small><br/>
      <hr>
      <a href="/admin/categorias/edit/{{_id}}"><button class="btn btn-success mt-2">Editar Categoria</button></a>
      <a href="/admin/categorias/deletar/{{_id}}"><button class="btn btn-danger px-1 mt-2">Deletar Categoria</button></a>
    </div>
  </div>
{{else}}
  <h4 class="text-center mt-3">Nenhuma categoria registrada</h4>
{{/each}}
<hr>