<h1>Lista de Categorias: </h1>
<hr>
<a href="/admin/categorias/add"><button class="btn btn-success">Nova categorias</button></a>

{{#each categorias}}
  <div class="card mt-4">
    <div class="card-body">
      <h4>{{this.nome}}</h4>
      <small>Slug: {{this.slug}}</small>
      <small>Data de criação: {{this.date}}</small><br/>
      <hr>
      <a href="/admin/categorias/edit/{{_id}}"><button class="btn btn-success mt-2">Editar Categoria</button></a>
      <form action="/admin/categorias/deletar/{{_id}}" method="POST">
        <input type="hidden" name="id" value="{{this._id}}"> 
        <button type="submit" class="btn btn-danger px-2 mt-2">Deletar Categoria</button>
      </form>
    </div>
  </div>
{{else}}
{{/each}}