<div class="jumbotron">
  <h1 class="display-4">Bem vindo</h1>
  <p class="lead">Você agora é um novo usuarios</p>
  <hr class="my-4">
  <p>Você agora pode fazer postagens e categorias para as outras pesssoas ver</p>
  <a class="btn btn-primary btn-lg" href="/admin/postagens" role="button">Criar postagens</a>
</div>
<hr>
<h2>Postagens recentes:</h2>

{{#each postagens}}
<div class="card mt-4">
  <div class="card-body">
    <h3>{{this.titulo}}</h3>
    <p>{{this.descricao}}</p>
    <a href="/postagens/{{slug}}"><button class="btn btn-success">Ler Postagens</button></a>
    <hr>
    <small>Categoria: {{this.categoria.nome}},</small>
    <small>Data de publicação: {{this.data}}</small>
  </div>
</div>
{{else}}
 <h4>Nenhuma postagens</h4>
{{/each}}