<h1>Lista de Postagens: </h1>
<hr>
<a href="/admin/postagens/add"><button class="btn btn-success">Nova Postagens</button></a>

{{#each postagens}}
  <div class="card mt-4">
    <div class="card-body">
      <h4>{{this.titulo}}</h4>
      <p>Descrição: {{this.descricao}}</p>
      <small>Data: {{this.data}}</small>
      <small>Categoria: {{this.categoria.nome}}</small><br>
      <a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-success mt-3">Ediatr postagens</button></a>
    </div>
  </div>
{{else}}
  <hr>
  <h3 class="text-center mt-3">Nenhuma postagens registrada!</h3>
  <hr>
{{/each}}