<div class="jumbotron">
  <h1 class="display-4">Bem vindo ao BlogWeb</h1>
  <p class="lead">Site para aprender coisas novas e avançar para o proximo nivel.</p>
  <hr class="my-4">
  {{#if user}}
  {{else}}
    <p>Para começar, crie uma conta para ver postagens ou criar postagens</p>
    <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Criar uma conta</a>
  {{/if}}
</div>
<hr>
<h2>Postagens recentes:</h2>

{{#each postagens}}
<div class="card mt-4">
  <div class="card-body">
    <h3>{{this.titulo}}</h3>
    <p>{{this.descricao}}</p>
    <a href="/postagens/{{_id}}"><button class="btn btn-success">Ler Postagens</button></a>
    <hr>
    <small>Categoria: {{this.categoria.nome}},</small>
    <small>Data de publicação: {{this.data}}</small>
  </div>
</div>
{{else}}
 <h4>Nenhuma postagens</h4>
{{/each}}