<h2>Categoria: </h2>

<hr>
{{#each categorias}}
  <div class="card mt-4">
    <div class="card-body">
      <a class="text-color-black" href="/categorias/{{slug}}"><h4>{{this.nome}}</h4></a>
      <p>{{this.slug}}</p>
      <small>{{this.date}}</small>
    </div>
  </div>
{{else}}
  <h4 class="text-center">Nenhuma categoria encontrada</h4>
{{/each}}
<hr>